$fontFamilyBarlow: 'Barlow', sans-serif;
$fontFamilyRaleway: 'Raleway', 'sans-serif';
$fontFamilyStaatliches: 'Staatliches', cursive;

$primaryColorO: #E96516;
$primaryColorLB: rgb(224, 255, 255);
$primaryColorB: rgb(0, 0, 0);

$secondaryColorGOp: rgba(255, 255, 255, 0.3);
$secondaryColorBOp: rgba(0, 0, 0, 0.3);
$secondaryColorW: rgb(255, 255, 255);
$secondaryColorWOp: rgba(255, 255, 255, 0.8);